<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    
   </head>
<body>
    <div class="container">
        <div class="form-section">
            <form>
                <h2>Connexion</h2>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Votre email" required>
                
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Votre mot de passe" required>
                
                <button type="submit">Connecter</button>
                
                <p>Vous n'avez pas de compte? <a href="#">Créer un compte.</a></p>
            </form>
        </div>
        <div class="image-section">
            <!-- <img src="assets/images/image2.jpg" alt="User">   -->

        </div>
    </div>
</body>
</html>
