

  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
  <app-sidebar></app-sidebar>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
     <app-sidebar-navigate></app-sidebar-navigate>
      <!--  Header End -->
      <div class="container-fluid">

        <section class="dashboard d-flex">
          <!-- Recent Projects -->
          <div class="recent-projects">
              <h3>Recent Projects</h3>
              <div class="projects-grid">
                  <div class="project-card">
                      <div class="project-header">
                          <h4>Admins</h4>
                          <span class="progress-percentage">55%</span>
                      </div>
                      <div class="progress-bar">
                          <div class="progress-fill" style="width: 55%;"></div>
                      </div>
                      <div class="project-info">
                          <span class="tasks-completed">8/15</span>

                      </div>
                  </div>
                  <div class="project-card">
                      <div class="project-header">
                          <h4>Mentors</h4>
                          <span class="progress-percentage">30%</span>
                      </div>
                      <div class="progress-bar">
                          <div class="progress-fill" style="width: 30%; background-color: #f06;"></div>
                      </div>
                      <div class="project-info">
                          <span class="tasks-completed">8/40</span>

                      </div>
                  </div>
                  <div class="project-card">
                      <div class="project-header">
                          <h4>Mentes</h4>
                          <span class="progress-percentage">89%</span>
                      </div>
                      <div class="progress-bar">
                          <div class="progress-fill" style="width: 89%; background-color: #fc0;"></div>
                      </div>
                      <div class="project-info">
                          <span class="tasks-completed">40/55</span>

                      </div>
                  </div>
              </div>
              <div class="user-section">
                <div class="user-card">
                    <h3>Projets</h3>
                    <p>40</p>
                </div>
                <div class="user-card">
                    <h3>Assignés</h3>
                    <p>79</p>
                </div>
                <div class="user-card">
                    <h3>Bloqués</h3>
                    <p>89</p>
                </div>
            </div>
          </div>

          <!-- Other Sections -->
          <div class="other-sections">


              <div class="calendar">
                  <div class="calendar-grid">
                      <!-- Calendar content here -->
                       <app-calendrier></app-calendrier>
                  </div>
              </div>
              <!-- <div class="messages">
                  <h3>Messages</h3>
                  <div class="message-list"> -->
                      <!-- Messages content here -->
<!--
                  </div>
              </div>
              <div class="tasks">
                  <h3>Task Today (10)</h3>
                  <div class="task-list"> -->
                      <!-- Tasks content here -->
                  <!-- </div>
              </div> -->
          </div>
      </section>
      </div>
    </div>
  </div>

