

  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
  <app-sidebar></app-sidebar>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
     <app-sidebar-navigate></app-sidebar-navigate>
      <!--  Header End -->
      <div class="container-fluid">

        <div class="card-body d-flex">
         <!-- stat -->
         <div class="projet" >
          <div class="titre-projet">Statistiques</div>
          <div class="">
            <div style="width: 16px; position: relative">
              <div style="width: 2px; height: 2px; left: 0px; top: 0px; position: absolute; border: 2px #64748B solid"></div>
              <div style="width: 2px; height: 2px; left: 7px; top: 0px; position: absolute; border: 2px #64748B solid"></div>
              <div style="width: 2px; height: 2px; left: 14px; top: 0px; position: absolute; border: 2px #64748B solid"></div>
            </div>
          </div>
          <div style="width: 728px; height: 0px; left: 20px; top: 64px; position: absolute; border: 1px #F1F5F9 solid"></div>
          <div style="width: 232px; height: 148px; left: 20px; top: 80px; position: absolute">
            <div style="width: 232px; height: 148px; left: 0px; top: 0px; position: absolute; background: #F8FAFC; border-radius: 12px"></div>
            <div style="width: 16px; height: 16px; padding-left: 2.67px; padding-right: 2.67px; left: 200px; top: 19px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
              <div style="width: 10.67px; height: 1.33px; position: relative">
                <div style="width: 1.33px; height: 1.33px; left: 0px; top: 0px; position: absolute; border: 1.50px #64748B solid"></div>
                <div style="width: 1.33px; height: 1.33px; left: 4.67px; top: 0px; position: absolute; border: 1.50px #64748B solid"></div>
                <div style="width: 1.33px; height: 1.33px; left: 9.33px; top: 0px; position: absolute; border: 1.50px #64748B solid"></div>
              </div>
            </div>
            <div style="left: 16px; top: 16px; position: absolute; color: #0F172A; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">Admins</div>
            <div style="width: 200px; height: 19px; left: 16px; top: 63.50px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 9px; display: inline-flex">
              <div style="width: 200px; justify-content: space-between; align-items: center; display: inline-flex">
                <div style="color: #64748B; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">Progress</div>
                <div style="text-align: right; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word">55%</div>
              </div>
            </div>
            <div style="width: 45px; height: 19px; left: 16px; top: 108px; position: absolute; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
              <div style="width: 16px; height: 16px; padding: 1.83px; justify-content: center; align-items: center; display: flex">
                <div style="width: 12.33px; height: 12.33px; position: relative">
                  <div style="width: 12.33px; height: 12.33px; left: 0px; top: 0px; position: absolute; border: 1.50px #64748B solid"></div>
                  <div style="width: 4.75px; height: 3.16px; left: 3.79px; top: 4.58px; position: absolute; border: 1.50px #64748B solid"></div>
                </div>
              </div>
              <div><span style="color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 19.20px; word-wrap: break-word">8</span><span style="color: #64748B; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">/15</span></div>
            </div>

          </div>
          <div style="width: 232px; height: 148px; left: 268px; top: 80px; position: absolute">
            <div style="width: 232px; height: 148px; left: 0px; top: 0px; position: absolute; background: #F8FAFC; border-radius: 12px"></div>

            <div style="left: 16px; top: 16px; position: absolute; color: #0F172A; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">Mentors</div>
            <div style="width: 200px; height: 34px; left: 16px; top: 56px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 9px; display: inline-flex">
              <div style="width: 200px; justify-content: space-between; align-items: center; display: inline-flex">
                <div style="color: #64748B; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">Progress</div>
                <div style="text-align: right; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word">30%</div>
              </div>
              <div style="width: 200px; height: 6px; position: relative">
                <div style="width: 200px; height: 6px; left: 0px; top: 0px; position: absolute; background: #E2E8F0; border-radius: 50px"></div>
                <div style="width: 63px; height: 6px; left: 0px; top: 0px; position: absolute; background: #F472B6; border-radius: 50px"></div>
              </div>
            </div>
            <div style="width: 48px; height: 19px; left: 16px; top: 108px; position: absolute; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
              <div style="width: 16px; height: 16px; padding: 1.83px; justify-content: center; align-items: center; display: flex">
                <div style="width: 12.33px; height: 12.33px; position: relative">
                  <div style="width: 12.33px; height: 12.33px; left: 0px; top: 0px; position: absolute; border: 1.50px #64748B solid"></div>
                  <div style="width: 4.75px; height: 3.16px; left: 3.79px; top: 4.58px; position: absolute; border: 1.50px #64748B solid"></div>
                </div>
              </div>
              <div><span style="color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 19.20px; word-wrap: break-word">8</span><span style="color: #64748B; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">/40</span></div>
            </div>

          </div>
          <div style="width: 232px; height: 148px; left: 516px; top: 80px; position: absolute">
            <div style="width: 232px; height: 148px; left: 0px; top: 0px; position: absolute; background: #F8FAFC; border-radius: 12px"></div>
            <div style="width: 16px; height: 16px; padding-left: 2.67px; padding-right: 2.67px; left: 200px; top: 19px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
              <div style="width: 10.67px; height: 1.33px; position: relative">
                <div style="width: 1.33px; height: 1.33px; left: 0px; top: 0px; position: absolute; border: 1.50px #64748B solid"></div>
                <div style="width: 1.33px; height: 1.33px; left: 4.67px; top: 0px; position: absolute; border: 1.50px #64748B solid"></div>
                <div style="width: 1.33px; height: 1.33px; left: 9.33px; top: 0px; position: absolute; border: 1.50px #64748B solid"></div>
              </div>
            </div>
            <div style="left: 16px; top: 16px; position: absolute; color: #0F172A; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">Mentes</div>
            <div style="width: 200px; height: 34px; left: 16px; top: 56px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 9px; display: inline-flex">
              <div style="width: 200px; justify-content: space-between; align-items: center; display: inline-flex">
                <div style="color: #64748B; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">Progress</div>
                <div style="text-align: right; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word">89%</div>
              </div>
              <div style="width: 200px; height: 6px; position: relative">
                <div style="width: 200px; height: 6px; left: 0px; top: 0px; position: absolute; background: #E2E8F0; border-radius: 50px"></div>
                <div style="width: 167px; height: 6px; left: 0px; top: 0px; position: absolute; background: #FBBF24; border-radius: 50px"></div>
              </div>
            </div>
            <div style="width: 55px; height: 19px; left: 16px; top: 108px; position: absolute; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
              <div style="width: 16px; height: 16px; padding: 1.83px; justify-content: center; align-items: center; display: flex">
                <div style="width: 12.33px; height: 12.33px; position: relative">
                  <div style="width: 12.33px; height: 12.33px; left: 0px; top: 0px; position: absolute; border: 1.50px #64748B solid"></div>
                  <div style="width: 4.75px; height: 3.16px; left: 3.79px; top: 4.58px; position: absolute; border: 1.50px #64748B solid"></div>
                </div>
              </div>
              <div><span style="color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 19.20px; word-wrap: break-word">40</span><span style="color: #64748B; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">/55</span></div>
            </div>

          </div>
        </div>
         <!-- calendrier -->
        <div class="col-4">
          <div class="card">
            <div style="width: 334px; height: 340px; position: relative; background: white; border-radius: 12px; overflow: hidden">
              <div style="left: 24px; top: 24px; position: absolute; color: #0F172A; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">Novembre 2024</div>
              <div style="left: 266px; top: 26px; position: absolute; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                <!-- <div style="width: 20px; height: 20px; padding-top: 5px; padding-bottom: 5px; transform: rotate(180deg); transform-origin: 0 0; justify-content: center; align-items: center; display: flex">
                  <div style="width: 5px; height: 10px; border: 2px #94A3B8 solid"></div>
                </div>
                <div style="width: 20px; height: 20px; padding-top: 5px; padding-bottom: 5px; justify-content: center; align-items: center; display: flex">
                  <div style="width: 5px; height: 10px; border: 2px #2563EB solid"></div>
                </div> -->
              </div>
              <div style="width: 286px; height: 0px; left: 24px; top: 64px; position: absolute; border: 1px #F1F5F9 solid"></div>
              <div style="height: 240px; left: 24px; top: 76px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 40px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word">Lun</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 40px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word">Mar</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 40px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word">Mer</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 40px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word">Jeu</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 40px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word">Ven</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 40px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word">Sam</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 40px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 19.20px; word-wrap: break-word">Lun</div>
                  </div>
                </div>
                <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">1</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">2</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">3</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">4</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">5</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">6</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">7</div>
                  </div>
                </div>
                <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">8</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">9</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">10</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">11</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">12</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">13</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">14</div>
                  </div>
                </div>
                <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">15</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">16</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">17</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">18</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">19</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">20</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">21</div>
                  </div>
                </div>
                <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">22</div>
                  </div>
                  <div style="padding: 10px; background: #2563EB; box-shadow: 4px 8px 18px rgba(37, 99, 235, 0.30); border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: white; font-size: 12px; font-family: Inter; font-weight: 700; line-height: 19.20px; word-wrap: break-word">23</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">24</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">25</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">26</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">27</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">28</div>
                  </div>
                </div>
                <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">29</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #0F172A; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">30</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #94A3B8; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">1</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #94A3B8; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">2</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #94A3B8; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">3</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #94A3B8; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">4</div>
                  </div>
                  <div style="padding: 10px; border-radius: 1000px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 20px; height: 20px; text-align: center; color: #94A3B8; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">5</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- message -->
          <div style="width: 334px; height: 392px; position: relative; background: white; border-radius: 12px; overflow: hidden">
            <div style="left: 24px; top: 20px; position: absolute; color: #0F172A; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">Messages</div>
            <div style="width: 286px; height: 0px; left: 24px; top: 60px; position: absolute; border: 1px #F1F5F9 solid"></div>
            <div style="left: 24px; top: 76px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
              <div style="width: 286px; height: 64px; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                <div style="width: 40px; height: 40px; position: relative">
                  <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 40px; height: 40px; border-radius: 9999px" src="https://via.placeholder.com/40x40" />
                  </div>
                  <div style="width: 10px; height: 10px; left: 30px; top: 30px; position: absolute; background: #24D164; border-radius: 9999px; border: 2px white solid"></div>
                </div>
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: inline-flex">
                  <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                    <div style="color: #0F172A; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 22.40px; word-wrap: break-word">Bachir Lo</div>
                    <div style="text-align: right; color: #64748B; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">08:30</div>
                  </div>
                  <div style="align-self: stretch; color: #64748B; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">Bonjour, Comment allez-vous aujourd'hui ?</div>
                </div>
              </div>
              <div style="width: 286px; height: 0px; border: 1px #F1F5F9 solid"></div>
              <div style="width: 286px; height: 64px; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                <div style="width: 40px; height: 40px; position: relative">
                  <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 40px; height: 40px; border-radius: 9999px" src="https://via.placeholder.com/40x40" />
                  </div>
                  <div style="width: 10px; height: 10px; left: 30px; top: 30px; position: absolute; background: #CBD5E1; border-radius: 9999px; border: 2px white solid"></div>
                </div>
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: inline-flex">
                  <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                    <div style="color: #0F172A; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 22.40px; word-wrap: break-word">Malang Marna</div>
                    <div style="text-align: right; color: #64748B; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">07:00</div>
                  </div>
                  <div style="align-self: stretch; color: #64748B; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">Bonjour Bachir, j'espère que vous allez bien...</div>
                </div>
              </div>
              <div style="width: 286px; height: 0px; border: 1px #F1F5F9 solid"></div>
              <div style="width: 286px; height: 64px; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                <div style="width: 40px; height: 40px; position: relative">
                  <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 40px; height: 40px; border-radius: 9999px" src="https://via.placeholder.com/40x40" />
                  </div>
                  <div style="width: 10px; height: 10px; left: 30px; top: 30px; position: absolute; background: #CBD5E1; border-radius: 9999px; border: 2px white solid"></div>
                </div>
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: inline-flex">
                  <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                    <div style="color: #0F172A; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 22.40px; word-wrap: break-word">Bassine Gnang</div>
                    <div style="text-align: right; color: #64748B; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">23/11</div>
                  </div>
                  <div style="align-self: stretch; color: #64748B; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">Bonjour, Comment allez-vous aujourd'hui ?</div>
                </div>
              </div>
            </div>
            <div style="width: 286px; height: 48px; padding: 8px; left: 24px; top: 320px; position: absolute; background: white; border-radius: 12px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
              <a style="color: #0F172A; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 22.40px; word-wrap: break-word" href="">Voir plus</a>
            </div>
          </div>
        </div>
        </div>
      <div class="done">
        <div style="width: 335px; height: 227px; position: relative">
          <div style="width: 335px; height: 227px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 12px"></div>
          <div style="width: 16px; height: 16px; padding-left: 2.67px; padding-right: 2.67px; left: 299px; top: 24px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 10.67px; height: 1.33px; position: relative">
              <div style="width: 1.33px; height: 1.33px; left: 0px; top: 0px; position: absolute; border: 1.50px #64748B solid"></div>
              <div style="width: 1.33px; height: 1.33px; left: 4.67px; top: 0px; position: absolute; border: 1.50px #64748B solid"></div>
              <div style="width: 1.33px; height: 1.33px; left: 9.33px; top: 0px; position: absolute; border: 1.50px #64748B solid"></div>
            </div>
          </div>


          <div style="left: 20px; top: 20px; position: absolute; color: #0F172A; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">Utilisateurs</div>
          <div style="width: 90px; height: 128px; left: 20px; top: 64px; position: absolute">
            <div style="width: 90px; height: 128px; left: 0px; top: 0px; position: absolute; background: #2563EB; border-radius: 12px"></div>
            <div style="width: 40px; height: 43px; left: 21px; top: 69px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
              <div style="text-align: center; color: white; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">Projets</div>
              <div style="text-align: center; color: white; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">40</div>
            </div>
            <div style="width: 40px; height: 40px; left: 25px; top: 16px; position: absolute">
              <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; opacity: 0.50; border-radius: 9999px; border: 1px white solid"></div>
              <div style="width: 20px; height: 20px; padding-left: 2.08px; padding-right: 2.08px; padding-top: 2.50px; padding-bottom: 2.50px; left: 12.32px; top: 7.13px; position: absolute; transform: rotate(12.11deg); transform-origin: 0 0; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 15.83px; height: 15px; position: relative">
                  <div style="width: 6.67px; height: 6.67px; left: 4.58px; top: 0px; position: absolute; border: 1.50px white solid"></div>
                  <div style="width: 6.67px; height: 6.67px; left: 0px; top: 8.33px; position: absolute; border: 1.50px white solid"></div>
                  <div style="width: 6.67px; height: 6.67px; left: 9.17px; top: 8.33px; position: absolute; border: 1.50px white solid"></div>
                </div>
              </div>
            </div>
          </div>

          <div style="width: 91px; height: 128px; left: 122px; top: 64px; position: absolute">
            <div style="width: 91px; height: 128px; left: 0px; top: 0px; position: absolute; background: #38BDF8; border-radius: 12px"></div>
            <div style="width: 52px; height: 43px; left: 19px; top: 69px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
              <div style="text-align: center; color: white; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">Assignés</div>
              <div style="text-align: center; color: white; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">79</div>
            </div>
            <div style="width: 40px; height: 40px; left: 26px; top: 16px; position: absolute">
              <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; opacity: 0.50; border-radius: 9999px; border: 1px white solid"></div>
              <div style="width: 20px; height: 20px; padding-top: 2.50px; padding-bottom: 2.50px; padding-left: 2.50px; padding-right: 1.67px; left: 11px; top: 10px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 15.83px; height: 15px; position: relative">
                  <div style="width: 6.67px; height: 6.67px; left: 1.67px; top: 0px; position: absolute; border: 1.50px white solid"></div>
                  <div style="width: 10px; height: 5px; left: 0px; top: 10px; position: absolute; border: 1.50px white solid"></div>
                  <div style="width: 5px; height: 3.33px; left: 10.83px; top: 5px; position: absolute; border: 1.50px white solid"></div>
                </div>
              </div>
            </div>
          </div>
          <div style="width: 90px; height: 128px; left: 225px; top: 64px; position: absolute">
            <div style="width: 90px; height: 128px; left: 0px; top: 0px; position: absolute; background: #F8FAFC; border-radius: 12px"></div>
            <div style="width: 46px; height: 43px; left: 25px; top: 69px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
              <div style="text-align: center; color: #64748B; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word">Bloques</div>
              <div style="text-align: center; color: #0F172A; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">89</div>
            </div>
            <div style="width: 40px; height: 40px; left: 25px; top: 16px; position: absolute">
              <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; opacity: 0.50; border-radius: 9999px; border: 1px #CBD5E1 solid"></div>
              <div style="width: 16px; height: 16px; padding: 1.83px; left: 12px; top: 12px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 12.33px; height: 12.33px; position: relative">
                  <div style="width: 12.33px; height: 12.33px; left: 0px; top: 0px; position: absolute; border: 1.50px #0F172A solid"></div>
                  <div style="width: 4.75px; height: 3.16px; left: 3.79px; top: 4.58px; position: absolute; border: 1.50px #0F172A solid"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <br><br><br><br>
      <div class="container relative flex flex-col justify-between h-full max-w-6xl px-10 mx-auto xl:px-0 mt-5">
        <h2 class="mb-1 text-3xl font-extrabold leading-tight text-gray-900">Nos forums</h2>
        <p class="mb-12 text-lg text-gray-500">Here is a few of the awesome Services we provide.</p>
        <div class="w-full">
            <div class="flex flex-col w-full mb-10 sm:flex-row">
                <div class="w-full mb-10 sm:mb-0 sm:w-1/2">
                    <div class="relative h-full ml-0 mr-0 sm:mr-10">
                        <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-indigo-500 rounded-lg"></span>
                        <div class="relative h-full p-5 bg-white border-2 border-indigo-500 rounded-lg">
                            <div class="flex items-center -mt-1">
                                <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">DAPP Development</h3>
                            </div>
                            <p class="mt-3 mb-1 text-xs font-medium text-indigo-500 uppercase">------------</p>
                            <p class="mb-2 text-gray-600">A decentralized application (dapp) is an application built on a
                                decentralized network that combines a smart contract and a frontend user interface.</p>
                        </div>
                    </div>
                </div>
                <div class="w-full sm:w-1/2">
                    <div class="relative h-full ml-0 md:mr-10">
                        <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-purple-500 rounded-lg"></span>
                        <div class="relative h-full p-5 bg-white border-2 border-purple-500 rounded-lg">
                            <div class="flex items-center -mt-1">
                                <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Web 3.0 Development</h3>
                            </div>
                            <p class="mt-3 mb-1 text-xs font-medium text-purple-500 uppercase">------------</p>
                            <p class="mb-2 text-gray-600">Web 3.0 is the third generation of Internet services that will
                                focus on understanding and analyzing data to provide a semantic web.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col w-full mb-5 sm:flex-row">
                <div class="w-full mb-10 sm:mb-0 sm:w-1/2">
                    <div class="relative h-full ml-0 mr-0 sm:mr-10">
                        <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-blue-400 rounded-lg"></span>
                        <div class="relative h-full p-5 bg-white border-2 border-blue-400 rounded-lg">
                            <div class="flex items-center -mt-1">
                                <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Project Audit</h3>
                            </div>
                            <p class="mt-3 mb-1 text-xs font-medium text-blue-400 uppercase">------------</p>
                            <p class="mb-2 text-gray-600">A Project Audit is a formal review of a project, which is intended
                                to assess the extent up to which project management standards are being upheld.</p>
                        </div>
                    </div>
                </div>
                <div class="w-full mb-10 sm:mb-0 sm:w-1/2">
                    <div class="relative h-full ml-0 mr-0 sm:mr-10">
                        <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-yellow-400 rounded-lg"></span>
                        <div class="relative h-full p-5 bg-white border-2 border-yellow-400 rounded-lg">
                            <div class="flex items-center -mt-1">
                                <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Hacking / RE</h3>
                            </div>
                            <p class="mt-3 mb-1 text-xs font-medium text-yellow-400 uppercase">------------</p>
                            <p class="mb-2 text-gray-600">A security hacker is someone who explores methods for breaching
                                defenses and exploiting weaknesses in a computer system or network.</p>
                        </div>
                    </div>
                </div>
                <div class="w-full sm:w-1/2">
                    <div class="relative h-full ml-0 md:mr-10">
                        <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-green-500 rounded-lg"></span>
                        <div class="relative h-full p-5 bg-white border-2 border-green-500 rounded-lg">
                            <div class="flex items-center -mt-1">
                                <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Bot/Script Development</h3>
                            </div>
                            <p class="mt-3 mb-1 text-xs font-medium text-green-500 uppercase">------------</p>
                            <p class="mb-2 text-gray-600">Bot development frameworks were created as advanced software tools
                                that eliminate a large amount of manual work and accelerate the development process.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- source:https://tailwind.besoeasy.com -->


    </div>
  </div>
