

  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
  <app-sidebar></app-sidebar>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
     <app-sidebar-navigate></app-sidebar-navigate>
      <!--  Header End -->
      <div class="container-fluid">

        <div class="card-body d-flex">
       <div class="col-8">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Admin</h5>
                <div class="title-progress d-flex mt-3">
                  <h6 class="card-subtitle mb-2 mt-2 text-muted">Progression</h6>
                  <p class="mx-5 mt-2">38%</p>
                </div>
                <div class="form-check mt-5">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked >
                  <label class="form-check-label" for="flexCheckCheckedDisabled">8/15</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Mentor</h5>
                <div class="title-progress d-flex">
                  <h6 class="card-subtitle mb-2 mt-2 text-muted">Progression</h6>
                  <p class="mx-5 mt-2">38%</p>
                </div>
                <div class="progress">
                  <div class="progress-bar w-75" role="progressbar" aria-valuenow="37" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="form-check mt-5">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked >
                  <label class="form-check-label" for="flexCheckCheckedDisabled">8/15</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Mente</h5>
                <div class="title-progress d-flex">
                  <h6 class="card-subtitle mb-2 mt-2 text-muted">Progression</h6>
                  <p class="mx-5 mt-2">38%</p>
                </div>
                <div class="progress">
                  <div class="progress-bar w-75" role="progressbar" aria-valuenow="37" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="form-check mt-5">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked >
                  <label class="form-check-label" for="flexCheckCheckedDisabled">8/15</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                  the
                  card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-md-5 d-flex">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Utilisateurs</h5>
                <div class="col-md-4">
                  <div class="card">
                    <img src="../assets/svg/icon.svg" alt="" style="background-color: aqua;">
                    <div class="card-body">
                      <h6 class="card-text">Projets</h6>
                      <p class="card-text">40</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the
                card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

