<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="./index.html" class="text-nowrap logo-img">
        <img src="../assets/images/logos/dark-logo.svg" width="180" alt="" />
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Menu</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" [routerLink]="['/dashboard']" aria-expanded="false">
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Tableau de bord</span>
          </a>
          <a class="sidebar-link" [routerLink]="['/user']" aria-expanded="false">
            <span>
              <img src="../assets/svg/check-square.svg" alt="">
            </span>
            <span class="hide-menu">Gestion des utilisateurs</span>
          </a>
          <a class="sidebar-link" [routerLink]="['/forum']" aria-expanded="false">
            <span>
              <img src="../assets/svg/chat-dots.svg" alt="">
              <!-- <i class="ti ti-layout-dashboard"></i> -->
            </span>
            <span class="hide-menu">Forum</span>
          </a>
        </li>


      </ul>

    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
</div>
