<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil Guindiko</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <!-- Menu -->
    <header>
        <div class="menu">
            <img src="assets/images/image (12).png" alt="Logo Guindiko" class="logo">

            <nav>
                <ul>
                    <li><a href="#">Accueil</a></li>
                   <li><a href="/apropos">A propos</a></li>
                    <li><a href="#">Statistiques</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="icons">
                <a href="/login">Connexion</a>
                            
                </div>
            </nav>

        </div>
    </header>

    <!-- Section Principale -->
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1><strong>Guindiko</strong> - Connecter l'Avenir Professionnel</h1>
                <p>Rejoignez notre communauté de mentors et bénéficiez d'un accompagnement personnalisé<br> pour réussir votre parcours professionnel.
                    Rejoignez notre communauté de mentors et bénéficiez d'un accompagnement personnalisé<br> pour réussir votre parcours professionnel.
                    Rejoignez notre communauté de mentors et bénéficiez d'un accompagnement personnalisé pour réussir votre parcours professionnel.
                </p>

            </div>
            <div class="hero-image">
                <img src="assets/images/image (10).png" alt="Mentorat">
            </div>
        </section>


        <!-- À Propos -->
        <section class="about">
            <div class="about-text">
              <h1>À Propos de Guindiko</h1>
                <h4>
                    Guindiko est une plateforme dédiée à connecter les élèves, nouveaux bacheliers,<br>
                     et professionnels en reconversion avec des mentors certifiés.Grâce à notre<br>
                      professionnel avec confiance
                </h4>
                <p>Fondée pour répondre aux besoins croissants des étudiants et jeunes professionnels,<br>
                    Guindiko propose un soutien sur mesure pour aider chacun à atteindre ses objectifs<br>
                    professionnels. Nous mettons en relation des mentors expérimentés avec des mentees,<br>
                    offrant des conseils et des orientations adaptées à chaque parcours.</p>
                <p>Nous croyons fermement que le mentorat est un levier puissant pour surmonter les défis<br>
                    et accélérer la réussite professionnelle. En rejoignant Guindiko, vous accédez à un réseau<br>
                    dynamique de professionnels engagés à partager leur expertise et à guider les futurs talents.</p>

                <button class="btn">En savoir plus</button>
            </div>
            <div class="about-image">
                <img src="assets/images/section2.png" alt="À Propos">
            </div>
        </section>

<!-- Arc en Ciel -->
<section class="arc-en-ciel">
    <h1>Découvrez Nos Services</h1>
    <div class="arc-container">
        <div class="arc">
            <i class="fas fa-laptop-code arc-icon"></i>
            <p>Développement Web</p>
            <p>Nous proposons des formations et des ressources pour développer vos compétences en développement web
                Nous proposons des formations et des ressources pour développer vos compétences en développement web
                Nous proposons des formations et des ressources pour développer vos compétences en développement web
                Nous proposons des formations et des ressources pour développer vos compétences en développement web.</p>
        </div>
        <div class="arc">
            <i class="fas fa-user-graduate arc-icon"></i>
            <p>Formation</p>
            <p>Nous offrons des formations pour étudiants et jeunes diplômés pour vous aider à atteindre vos objectifs professionnels.
                Nous proposons des formations et des ressources pour développer vos compétences en développement web
                Nous proposons des formations et des ressources pour développer vos compétences en développement web
                Nous proposons des formations et des ressources pour développer vos compétences en développement web
                Nous proposons des formations et des ressources pour développer vos compétences en développement web
            </p>
        </div>
        <div class="arc">
            <i class="fas fa-medkit arc-icon"></i>
            <p>Assistance Médicale</p>
            <p>Nous vous aidons à trouver des professionnels de santé pour vous accompagner tout au long de votre parcours médical.
                Nous proposons des formations et des ressources pour développer vos compétences en développement web
                Nous proposons des formations et des ressources pour développer vos compétences en développement web
                Nous proposons des formations et des ressources pour développer vos compétences en développement web
                Nous proposons des formations et des ressources pour développer vos compétences en développement web
            </p>
        </div>
    </div>
    <div class="btn-container">
        <a href="services.html" class="btn-savoir-plus">En savoir Plus</a>
    </div>
</section>











<!-- temoingnages -->
<!-- <h2 class="text-4xl font-bold text-center text-bottom-29">Nos partenaires</h2> -->

<!-- <h2 class="text-4xl font-bold text-center mt-4">Nos partenaires</h2> -->
<h2 class="text-4xl font-bold text-center" style="margin-top: 39px;">Nos partenaires</h2> 


<section class="relative py-20 overflow-hidden bg-white bg-opacity-80 shadow sm:py-24 md:py-24">
    <div class="relative max-w-6xl px-16 mx-auto xl:px-0">
      <svg class="absolute top-0 left-0 hidden w-32 h-32 -mt-3 -ml-16 text-yellow-300 opacity-50 xl:block" stroke="currentColor" fill="none" viewBox="0 0 144 144">
        <path stroke-width="2" d="M41.485 15C17.753 31.753 1 59.208 1 89.455c0 24.664 14.891 39.09 32.109 39.09 16.287 0 28.386-13.03 28.386-28.387 0-15.356-10.703-26.524-24.663-26.524-2.792 0-6.515.465-7.446.93 2.327-15.821 17.218-34.435 32.11-43.742L41.485 15zm80.04 0c-23.268 16.753-40.02 44.208-40.02 74.455 0 24.664 14.891 39.09 32.109 39.09 15.822 0 28.386-13.03 28.386-28.387 0-15.356-11.168-26.524-25.129-26.524-2.792 0-6.049.465-6.98.93 2.327-15.821 16.753-34.435 31.644-43.742L121.525 15z"></path>
      </svg>
      <div class="relative xl:pl-32 lg:flex lg:items-center">
        <div class="relative">
          <blockquote class="relative">
            <div class="text-xl font-semibold leading-9 tracking text-gray-900 md:text-3xl">
                <p class="">Guindiko m’a permis d'améliorer mes compétences de mentor<br>
                    <span class="font-extrabold text-transparent text-5xl bg-clip-text bg-gradient-to-r from-[#4F772D] via-orange-200 to-red-600">
                      en accompagnant des jeunes talents
                    </span>
                  </p>
                  
            </div>
            <div class="mt-4">
              <div class="flex items-center">
                
                <div class="ml-4 lg:ml-0">
                  <div class="text-base font-medium leading-6 text-gray-900">Mame Daba Ka - Mentor sur Guindiko</div>
                  <div class="flex items-center">
                    <!-- Star SVGs -->
                    <img class="object-cover w-24 h-24 border-gray-400 border-2 mr-4 rounded-full" src="assets/images/image (5).png" alt="Mame Daba Ka testimonial">

                    <!-- (Repeat SVGs for 5 stars) -->
                  </div>
                </div>
              </div>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  
  






<section id="works" class="relative bg-[#36494E] py-10 sm:py-16 lg:py-24">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="max-w-2xl mx-auto text-center">
          <h2 class="text-4xl text-white font-extrabold mx-auto md:text-6xl lg:text-5xl">Pourquoi nous choisir?</h2>
          <p class="max-w-2xl mx-auto mt-4 text-base text-gray-300 leading-relaxed md:text-2xl">
              Nos statistiques
          </p>
      </div>
      <div class="relative mt-12 lg:mt-20">
          <div class="absolute inset-x-0 hidden xl:px-44 top-2 md:block md:px-20 lg:px-28">
              <img alt="" loading="lazy" width="1000" height="500" decoding="async" data-nimg="1" class="w-full" style="color:transparent" src="https://cdn.rareblocks.xyz/collection/celebration/images/steps/2/curved-dotted-line.svg">
          </div>
          <div class="relative grid grid-cols-1 text-center gap-y-12 md:grid-cols-3 gap-x-12">
              <div>
                  <div
                      class="flex items-center justify-center w-16 h-16 mx-auto bg-white border-2 border-gray-200 rounded-full shadow">
                      <span class="text-xl font-semibold text-gray-700">96%</span>
                  </div>
                  <h3 class="mt-6 text-xl text-white font-semibold leading-tight md:mt-10">de réussite</h3>
                  <p class="mt-4 text-base text-gray-300 md:text-lg">
                      Select template according to your requirement
                  </p>
              </div>
              <div>
                  <div
                      class="flex items-center justify-center w-16 h-16 mx-auto bg-white border-2 border-gray-200 rounded-full shadow">
                      <span class="text-xl font-semibold text-gray-700">96%</span>
                  </div>
                  <h3 class="mt-6 text-xl text-white font-semibold leading-tight md:mt-10">de satisfaction</h3>
                  <p class="mt-4 text-base text-gray-300 md:text-lg">
                      Put in your personalized details and let the AI do the rest.
                  </p>
              </div>
              <div>
                  <div
                      class="flex items-center justify-center w-16 h-16 mx-auto bg-white border-2 border-gray-200 rounded-full shadow">
                      <span class="text-xl font-semibold text-gray-700">96%</span>
                  </div>
                  <h3 class="mt-6 text-xl text-white font-semibold leading-tight md:mt-10">de recommandations</h3>
                  <p class="mt-4 text-base text-gray-300 md:text-lg">
                      Use output as you like
                  </p>
              </div>
          </div>
      </div>
  </div>
  <div class="absolute inset-0 m-auto max-w-xs h-[357px] blur-[118px] sm:max-w-md md:max-w-lg"
      style="background:radial-gradient(1.89deg, rgba(34, 78, 95, 0.4) -1000%, rgba(191, 227, 205, 0.26) 1500.74%, rgba(34, 140, 165, 0.41) 56.49%, rgba(28, 47, 99, 0.11) 1150.91%)">
  </div>
</section>




        <!-- Nos Partenaires et Statistiques -->
        <div class="bg-white w-full px-4 pt-16 pb-16" id="faq">
          <h2 class="text-4xl font-bold text-center">Nos partenaires</h2>
          <p class="pt-6 pb-8 text-base max-w-2xl text-center m-auto">
              Lorem ipsum dolor sit amet
              consectetur adipisicing elit nam maxime quas fugiat tempore blanditiis, eveniet quia accusantium.
          </p>
          <div
              class="mx-auto w-full max-w-4xl bg-white justify-center items-center grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6 gap-4">
              <a target="_blank" href="">
                  <img alt="" class="h-20  mx-auto" src="assets/images/partenaire.png">
              </a>
              <a target="_blank" href="">
                  <img alt="" class="h-20  mx-auto" src="assets/images/partenaire.png">
              </a>
              <a target="_blank" href="">
                  <img alt="" class="h-20  mx-auto" src="assets/images/partenaire.png">
              </a>
              <a target="_blank" href="">
                  <img alt="" class="h-20  mx-auto" src="assets/images/partenaire.png">
              </a>
              <a target="_blank" href="">
                  <img alt="" class="h-20  mx-auto" src="assets/images/partenaire.png">
              </a>
              <a target="_blank" href="">
                  <img alt="" class="h-20  mx-auto" src="assets/images/partenaire.png">
              </a>
          </div>
      </div>



<!-- Contact Section -->

<div class="min-h-screen bg-white-800 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="absolute inset-0 bg-gradient-to-r from-gray-700 to-gray-900 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
    <div class="relative px-4 py-10 bg-[#36494E] shadow-lg sm:rounded-3xl sm:p-20">

        <div class="text-center pb-6">
            <h1 class="text-5xl text-white">Contacter-nous!</h1>
            <p class="text-lg text-white">
              Remplissez le formulaire ci-dessous pour nous envoyer un message.
            </p>
          </div>
          

      <form>
        <input
          class="shadow mb-4 appearance-none border border-gray-500 rounded w-full py-2 px-3 bg-white text-gray-800 leading-tight focus:outline-none focus:shadow-outline"
          type="text" placeholder="Nom" name="name">

        <input
          class="shadow mb-4 appearance-none border border-gray-500 rounded w-full py-2 px-3 bg-white text-gray-800 leading-tight focus:outline-none focus:shadow-outline"
          type="email" placeholder="Email" name="email">

        <input
          class="shadow mb-4 appearance-none border border-gray-500 rounded w-full py-2 px-3 bg-white text-gray-800 leading-tight focus:outline-none focus:shadow-outline"
          type="text" placeholder="Sujet" name="_subject">

        <textarea
          class="shadow mb-4 appearance-none border border-gray-500 rounded w-full py-2 px-3 bg-white text-gray-800 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Tapez votre message ici..." name="message" style="height: 121px;"></textarea>

          <div class="flex justify-between">
            <input
              class="shadow bg-[#D2B48C] hover:bg-[#C1A17B] text-[#36494E] font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit" value="Envoyer ➤">
            <input
              class="shadow bg-[#D2B48C] hover:bg-[#C1A17B] text-[#36494E] font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="reset" value="Réinitialiser">
          </div>
          
      </form>
    </div>
  </div>
</div>




<!-- Footer -->
<footer>
    <div class="footer-content">
        <div class="footer-nav">
            <a href="#">Accueil</a>
            <a href="#">A propos</a>
            <a href="#">Statistiques</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </div>

        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>

    <div class="footer-separator"></div>

    <div class="footer-bottom">
        <p>&copy; 2024 GUINDIKO. Tous droits réservés.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</footer>
</main>
</body>
</html>
