<app-navbar-mentor></app-navbar-mentor>

<div class="appointments m-5">
  <div class="head d-flex justify-content-between align-items-center">
    <h2>Mes Rendez-vous</h2>
    <!-- Button trigger modal for adding a new rendez-vous -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#addRendezVousModal"
    >
      Planifier
    </button>
  </div>

  <!-- Modal for Adding a New Rendez-vous -->
  <div
    class="modal fade"
    id="addRendezVousModal"
    tabindex="-1"
    aria-labelledby="addRendezVousModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addRendezVousModalLabel">
            Planification de rendez-vous
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <app-form-rdv></app-form-rdv>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let rdv of rendezVous">
      <div class="task mt-5 p-3 border rounded">
        <div class="d-flex justify-content-between">
          <div class="tags">
            <span class="badge bg-primary">{{ rdv.date_rendezVous }}</span>
            <span class="badge bg-secondary">{{ rdv.type }}</span>
          </div>
          <!-- Button trigger modal for editing a rendez-vous -->
          <button
            class="btn p-0 mx-2"
            data-bs-toggle="modal"
            data-bs-target="#editRendezVousModal"
            (click)="openEditModal(rdv)"
            data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-custom-class="custom-tooltip"
            data-bs-title="Cliqué ici pour modifier"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
          </svg>
          </button>
        </div>
        <p class="mt-3 mb-1 fw-bold">{{ rdv.sujet }}</p>
        <p class="text-muted mb-1">{{ rdv.lien || rdv.lieu }}</p>
        <div class="stats d-flex justify-content-between">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              width="16"
              height="16"
              class="me-1"
            >
              <circle cx="12" cy="12" r="9" stroke="currentColor" stroke-width="2"></circle>
              <path stroke="currentColor" stroke-width="2" stroke-linecap="round" d="M12 8v4l3 3"></path>
            </svg>
            {{ rdv.duree }} min
          </div>

          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              width="16"
              height="16"
              class="me-1"
            >
              <path
                stroke="currentColor"
                stroke-width="2"
                d="M19 7l-7 7-3-3"
              ></path>
            </svg>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-person-check"
              viewBox="0 0 16 16"
            >
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
              <path
                d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"
              />
            </svg>
            {{ rdv.mente.user.prenom }} {{ rdv.mente.user.nom }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

