.menu .icons {
  color: #fff;
  display: flex;
  align-items: center; /* Aligne les icônes verticalement au centre */
  border: 3px solid #fff; /* Bordure rouge */
  width: 100px;
  padding: auto;
  text-align: center;
  margin-left: 20%;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s; /* Transition douce pour le hover */
}

.menu .icons:hover {
  background-color: #fff; /* Change la couleur de fond en blanc au hover */
  color: #000; /* Change la couleur du texte en noir au hover */
}


/* Header */
header {
  background-color: #36494E;
  /* padding: 10px 20px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

/* Logo à gauche */
.logo {
  margin-left: 60px;
  width: 200px;

}

/* Conteneur pour les liens et les icônes */
.menu {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Prend tout l'espace restant entre le logo et les icônes */
  justify-content: space-between;
}

.menu nav {
  flex-grow: 1; /* Prend tout l'espace possible pour centrer les liens */
  display: flex;
  justify-content: center; /* Centre les liens horizontalement */
  align-items: center;
  padding-left: 18%;
}

.menu nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

}

.menu nav ul li {
  margin-right: 40px;

}

.menu nav ul li a {
  text-decoration: none;
  color: #D2B48C;
  font-weight: bold;

}

.menu .icons {

  display: flex;
  align-items: center; /* Aligne les icônes sur la même ligne */
}

.menu .icons img {
  width: 30px;
  margin-left: 10px;
}

.icons a{
  color: #D2B48C;
}

