    <!-- Menu -->
    <header>
      <div class="menu">
          <img src="assets/image/logo2.png" alt="Logo Guindiko" class="logo">

          <nav>
              <ul>
                  <li><a  [routerLink]="['/accueil']">Accueil</a></li>
                 <li><a  [routerLink]="['/apropos']">A propos</a></li>
                  <li><a [routerLink]="['/services']">Services</a></li>
                  <li><a  [routerLink]="['/contact']">Contact</a></li>
              </ul>
              <div class="icons">
              <a [routerLink]="['/login']">Connexion</a>
              </div>
          </nav>

      </div>
  </header>
