    <!-- Menu -->
    <header>
      <div class="menu">
          <img src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Logo Guindiko" class="logo">

          <nav>
              <ul>
                  <li><a  [routerLink]="['/accueil']">Accueil</a></li>
                 <li><a  [routerLink]="['/apropos']">A propos</a></li>
                  <li><a [routerLink]="['/services']">Services</a></li>
                  <li><a  [routerLink]="['/contact']">Contact</a></li>
              </ul>
              <div class="icons">
              <a [routerLink]="['/login']">Connexion</a>

              </div>
          </nav>

      </div>
  </header>
