

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">Guindiko</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">À propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mentors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Domaines</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Modifier profil</a></li>
              <li><a class="dropdown-item" href="#">Déconnexion</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

 <!-- Forum Header -->
 <div class="forum-header">
  <h1>Discussions - Informatique </h1>
  <p>Explorez les dernières discussions et sujets d'actualité liés à l'informatique.</p>
  <button class="btn " data-bs-toggle="collapse" data-bs-target="#publishPostForm">Publier un post</button>
</div>
<!-- Liste des publications -->
<div *ngIf="posts.length > 0">
  <div *ngFor="let post of posts" class="discussion-card">
    <div class="discussion-title">{{ post.nomForum }}</div>
    <img [src]="post.image" alt="Post Image" class="discussion-image">
    <div class="discussion-body">{{ post.contenu }}</div>
    <div class="discussion-meta">Posté par {{ post.user_id }} | {{ post.createdAt | date }}</div>
    <button class="view-comments-btn" (click)="toggleComments(post.id)" [attr.data-bs-target]="'#comments' + post.id">
      Voir les commentaires
    </button>
    <div *ngIf="commentsVisible[post.id]" class="comments-container">
      <!-- Remplir avec les commentaires une fois récupérés -->
      <div *ngFor="let comment of post.comments" class="comment-card">
        <div class="comment-author">{{ comment.author }}</div>
        <div class="comment-text">{{ comment.text }}</div>
      </div>
      <!-- Formulaire pour ajouter un commentaire -->
      <div class="comment-form">
        <textarea rows="3" placeholder="Écrivez un commentaire..."></textarea>
        <button type="submit">Ajouter un commentaire</button>
      </div>
    </div>
  </div>
</div>

