
<app-navbar-mentee></app-navbar-mentee>
 <!-- Forum Header -->
 <div class="forum-header">
  <h1>Discussions - Informatique </h1>
  <p>Explorez les dernières discussions et sujets d'actualité liés à l'informatique.</p>
  <button class="btn " data-bs-toggle="collapse" data-bs-target="#publishPostForm">Publier un post</button>
</div>
<!-- Liste des publications -->
<div *ngIf="posts.length > 0">
  <div *ngFor="let post of posts" class="discussion-card">
    <div class="discussion-title">{{ post.nomForum }}</div>
    <img [src]="post.image" alt="Post Image" class="discussion-image">
    <div class="discussion-body">{{ post.contenu }}</div>
    <div class="discussion-meta">Posté par {{ post.user_id }} | {{ post.createdAt | date }}</div>
    <button class="view-comments-btn" (click)="toggleComments(post.id)" [attr.data-bs-target]="'#comments' + post.id">
      Voir les commentaires
    </button>
    <div *ngIf="commentsVisible[post.id]" class="comments-container">
      <div *ngFor="let comment of comments[post.id]" class="comment-card">
        <div class="comment-author">Commenté (e) par {{ comment.utilisateur.nom }} {{ comment.utilisateur.prenom }}</div>
        <div class="comment-text">{{ comment.contenu }}</div>
        <div class="comment-meta">{{ comment.createdAt | date }}</div>
      </div>
      <!-- Formulaire pour ajouter un commentaire -->
      <div class="comment-form">
        <textarea rows="3" placeholder="Écrivez un commentaire..."></textarea>
        <button type="submit">Ajouter un commentaire</button>
      </div>
    </div>
  </div>
</div>

