

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;

    margin-left: 20px;     /* Marge à gauche pour chaque section */
    margin-right: 20px; /* Marge à droite pour chaque section */
}

h1, h2, h3 {
    text-align: center;
    color: #000 ; /* Couleur principale */
}

p {
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

.menu .icons {
    color: #fff;
    display: flex;
    align-items: center; /* Aligne les icônes verticalement au centre */
    border: 3px solid #fff; /* Bordure rouge */
    width: 100px;
    text-align: center;
    margin-left: 20%;
    justify-content: center; 
    transition: background-color 0.3s, color 0.3s; /* Transition douce pour le hover */
}

.menu .icons:hover {
    background-color: #fff; /* Change la couleur de fond en blanc au hover */
    color: #000; /* Change la couleur du texte en noir au hover */
}












/* Header */
header {
    background-color: #36494E;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

/* Logo à gauche */
.logo {
    width: 120px;
    
}

/* Conteneur pour les liens et les icônes */
.menu {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Prend tout l'espace restant entre le logo et les icônes */
    justify-content: space-between;
}

.menu nav {
    flex-grow: 1; /* Prend tout l'espace possible pour centrer les liens */
    display: flex;
    justify-content: center; /* Centre les liens horizontalement */
}

.menu nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu nav ul li {
    margin-right: 20px;
}

.menu nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    
}

.menu .icons {
    display: flex;
    align-items: center; /* Aligne les icônes sur la même ligne */
}

.menu .icons img {
    width: 30px;
    margin-left: 10px;
}








/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    padding: 70px 30px;
    background-color: #F4F4F4;
    
}

.hero-content {
    flex: 1;
}

.hero h1 {
    font-size: 51px;
    margin-bottom: 90px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 90px;
    padding-left: 29px;

}

.hero .btn {
    background-color: #D2B48C;
    color: #fff;
    padding: 30px 50px;
    border: 2px;
    border-radius: 5%;
    cursor: pointer;
}

.hero-image {
    flex: 1;
    text-align: right;
    width: 300%; /* L'image prendra toute la largeur disponible */
}

.hero-image img {
    opacity: 835%;
    border-radius: 73px;
    width: 200%; /* L'image prend toute la largeur disponible dans son conteneur */
    height: auto; /* Maintient les proportions de l'image */
    object-fit: cover; /* Assure que l'image couvre bien tout l'espace disponible */
    max-width: 800px; /* Définit une largeur maximale si nécessaire */
}



















/* About Section */
.about {
    display: flex;
    align-items: center;
    padding: 50px 20px;
    
}

.about-text {
    flex: 1;
}

.about h1{
    
    font-size: 350%;
    color: #333;
    text-align: left;
    margin-bottom: 40px;
    
}
.about h4 {
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 18px;

}

.about p {
    padding-left: 38px;
    font-size: 18px;
    margin-bottom: 20px;
}

.about .btn {
    background-color: #D2B48C;
    color: #fff;
    padding: 10px 20px;
    border: 2px;
    border-radius: 5%;
    cursor: pointer;
}

.about-image {
    flex: -1;
    text-align: right;
    width: 31%;
    height: 120%;
}




/* Arc en Ciel */
.arc-en-ciel {
    padding: 50px 20px;
    background-color: #F4F4F4;
}

.arc-en-ciel h1 {
    font-size: 350%;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
    
}

.arc-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.arc {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    flex: 1 1 200px; /* Flex-grow and basis to handle responsive design */
    text-align: center;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.arc-icon {
    font-size: 40px;
    color: #36494E;
    margin-bottom: 10px;
}

.arc p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.btn-savoir-plus {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D2B48C;
    color: #fff;
    text-decoration: none;
    border-radius: 5%;
    font-size: 14px;
    margin-top: 10px;
}

.btn-savoir-plus:hover {
    background-color: #2b345b;
}





.arc:hover {
    background-color: #D2B48C;
    color: #fff; /* Adjust text color for contrast */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: increase shadow on hover */
}

.arc:hover .arc-icon {
    color: #fff; /* Adjust icon color on hover */
}

/* Footer Styles */
footer {
    background-color: #36494E;
    color: white;
    padding: 30px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-nav {
    display: flex;
    justify-content: flex-end; /* Aligns the links to the right */
    flex: 1;
}

.footer-nav a {
    color: white;
    margin-left: 15px; /* Horizontal spacing between links */
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content: flex-end; /* Aligns the icons to the right */
}

.social-icons a {
    color: white;
    margin-left: 15px;
    font-size: 24px;
    text-decoration: none;
}

.footer-separator {
    height: 1px;
    background-color: white;
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom p {
    margin-bottom: 0;
    flex: 1;
    text-align: left;
}







/* Responsive Design */
@media (max-width: 768px) {
    .hero, .about {
        flex-direction: column;
        text-align: center;
    }

    .hero-image, .about-image {
        text-align: center;
        margin-top: 20px;
    }

    .services .service-cards {
        flex-direction: column;
    }

    .service-card {
        margin-bottom: 20px;
    }

    header .menu nav ul {
        flex-direction: column;
    }

    header .menu nav ul li {
        margin: 10px 0;
    }
}




































/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #000; /* Couleur principale */
}

p {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    margin: 50px; /* Marge pour chaque section */
}

/* Header */
header {
    background-color: #36494E;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

/* Logo à gauche */
.logo {
    width: 150px;
}

/* Conteneur pour les liens et les icônes */
.menu {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Prend tout l'espace restant entre le logo et les icônes */
    justify-content: space-between;
}

.menu nav {
    flex-grow: 1; /* Prend tout l'espace possible pour centrer les liens */
    display: flex;
    justify-content: center; /* Centre les liens horizontalement */
}

.menu nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu nav ul li {
    margin-right: 20px;
}

.menu nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.menu .icons {
    display: flex;
    align-items: center; /* Aligne les icônes sur la même ligne */
}

.menu .icons img {
    width: 30px;
    margin-left: 10px;
}

/* About Section
.about {
    display: flex;
    align-items: center;
    padding: 50px 20px;
}

.about-text {
    flex: 1;
}

.about h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}

.about p {
    font-size: 16px;
    margin-bottom: 20px;
}

.about .btn {
    background-color: #36494E;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.about-image {
    flex: 1;
    text-align: right;
} */









/* Section Introduction */
.introduction {
    display: inline-bl
    ock;
    background-color: #ffffff;
    color: #444;
    padding: 50px;
    margin: 40px auto;
    max-width: 900px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 10%;
    top: -13%;
}

/* Arcs dans l'introduction */
.introduction::before {
    
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, rgba(54, 73, 78, 0.1), rgba(210, 180, 140, 0.05));
    border-radius: 50%;
    z-index: 0;
}

.introduction::after {
    content: "";
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, rgba(54, 73, 78, 0.1), rgba(210, 180, 140, 0.1));
    border-radius: 50%;
    z-index: 0;
}

.introduction h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #36494E; /* Couleur bleue foncée */
    z-index: 1;
    position: relative;
}

.introduction h2 {
    font-size: 1.6em;
    margin-bottom: 1em;
    color: #D2B48C; /* Couleur beige clair */
    z-index: 1;
    position: relative;
}

.introduction p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    line-height: 1.8;
    z-index: 1;
    position: relative;
}

/* Section Mission & Vision */
.mission-vision {
    left: 290px;
    background-color: #ffffff;
    color: #444;
    padding: 80px;
    margin: -15% auto;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border: 1px solid #E0E0E0;
    position: relative;
    overflow: hidden;
}

/* Arcs dans la mission-vision */
.mission-vision::before {
    content: "";
    position: absolute;
    top: -40px;
    left: -40px;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, rgba(54, 73, 78, 0.1), rgba(210, 180, 140, 0.05));
    border-radius: 50%;
    z-index: 0;
}

.mission-vision::after {
    content: "";
    position: absolute;
    bottom: -40px;
    right: -40px;
    width: 150px;
    height: 150px;
    background: linear-gradient(45deg, rgba(54, 73, 78, 0.1), rgba(210, 180, 140, 0.1));
    border-radius: 50%;
    z-index: 0;
}

.mission-vision h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #36494E; /* Couleur bleue foncée */
    z-index: 1;
    position: relative;
}

.mission-vision ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mission-vision li {
    padding: 15px 0;
    border-bottom: 1px solid #E0E0E0;
    position: relative;
}

.mission-vision li:last-child {
    border-bottom: none;
}

.mission-vision strong {
    color: #36494E; /* Couleur bleue foncée */
}

/* Animation des titres */
h1, h2 {
    transition: color 0.3s ease;
}

h1:hover, h2:hover {
    color: #D2B48C; /* Couleur beige clair */
}
























/* Footer Styles */
footer {
    background-color: #36494E;
    color: white;
    padding: 30px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-nav {
    display: flex;
    justify-content: flex-end; /* Aligns the links to the right */
    flex: 1;
}

.footer-nav a {
    color: white;
    margin-left: 15px; /* Horizontal spacing between links */
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content: flex-end; /* Aligns the icons to the right */
}

.social-icons a {
    color: white;
    margin-left: 15px;
    font-size: 24px;
    text-decoration: none;
}

.footer-separator {
    height: 1px;
    background-color: white;
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom p {
    margin-bottom: 0;
    flex: 1;
    text-align: left;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero, .about {
        flex-direction: column;
        text-align: center;
    }

    .hero-image, .about-image {
        text-align: center;
        margin-top: 20px;
    }

    .services .service-cards {
        flex-direction: column;
    }

    .service-card {
        margin-bottom: 20px;
    }

    header .menu nav ul {
        flex-direction: column;
    }

    header .menu nav ul li {
        margin: 10px 0;
    }
}











/* Section Équipe */
.team {
    padding: 8% 20px;
    /* background-color: #FAF7F7; Couleur de fond douce avec une légère teinte rosée */
    text-align: center;
    position: relative;
    padding: 15% 20px;

}

.team h2 {
    font-size: 40px;
    color: #2C3E50;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif; /* Typographie moderne */
}

.team-members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    justify-items: center;
    align-items: start;
    position: relative;
}

.member {
    background: linear-gradient(145deg, #FFFFFF, #E6E6E6); /* Dégradé doux pour l'effet de relief */
    border-radius: 15px;
    padding: 20px;
    text-align: left;
    box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    position: relative;
    z-index: 1;
}

.member::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: 50px;
    height: 50px;
    background-color: #D2B48C;
    border-radius: 50%;
    z-index: -1;
}

.member img {
    width: 120px;
    height: 120px;
    border-radius: 15px; /* Coins arrondis mais pas circulaires */
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.member h3 {
    font-size: 24px;
    color: #2C3E50;
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.member p {
    font-size: 16px;
    color: #7F8C8D;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.member:hover {
    transform: translateY(-10px) scale(1.05); /* Déplacement subtil au survol */
    box-shadow: 18px 18px 36px rgba(0, 0, 0, 0.15); /* Ombre plus marquée */
}

.member img:hover {
    transform: rotate(-3deg) scale(1.1); /* Légère rotation et zoom au survol */
}

.founders-text {
    max-width: 800px;
    margin: 70px auto 0;
    font-size: 18px;
    color: #2C3E50;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
}
