
body {
  font-family: Arial, sans-serif;
}


.navbar {
  background-color: #36494E;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #D2B48C
  ;
}
h1{
  font-size: 80px;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  color: #36494E
  ;
}


.hero-section {
background-image: url('/assets/PlaceholderImage.png');
background-size: cover;
position: relative;
height: 600px;
}

.hero-section .overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Couche noire avec 50% d'opacité */
z-index: 1;
}

.hero-section .container {
position: relative;
z-index: 2;
justify-content:center;
}


.forum {
  font-size: 80px;
  font-weight: bold;
  color: #D2B48C
  ;
}

.channels-section {
padding: 40px;
text-align: center;
}

.channels-container {
display: flex;
flex-wrap: wrap;
justify-content:space-around;
gap: 20px;
margin:40px;
}

.channel-card {
display: flex;
flex-direction: row;
align-items: center;
border-radius: 8x;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
overflow: hidden;
width: 100%;
max-width: 600px;
}

.channel-image-container {
position: relative;
width: 60%;
}

.channel-image-container img {
width: 100%;
height: auto;
display: block;
/* border-radius: 8px 0 0 8px; */

}

.channel-badge {
position: absolute;
top: 0;
left: 0;
background-color: #ffffff;
color: #36494E;
padding: 5px 10px;
border-radius: 50px 0 50px 0;
font-weight: bold;
font-size: 14px;
width: 70%;
margin-top: 2px;
text-align: center;
}

.post-badge {
position: absolute;
bottom: 10px;
left: 10px;
background-color: #36494E !important;
color: white;
padding: 5px 10px;
border-radius: 30px;
font-weight: bold;
font-size: 12px;
}

.view-icon {
position: absolute;
bottom: 10px;
right: 10px;
background-color: rgba(0, 0, 0, 0.5);
padding: 5px;
border-radius: 50%;
color: white;
font-size: 16px;
}

.channel-content {
padding: 20px;
width: 60%;
text-align: left;
font-size: 18px;
color: #333;
}




/* Footer styles */
footer {
  background-color: #36494E;
  color: white;
  padding: 30px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-nav {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.footer-nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.social-icons {
  display: flex;
  justify-content: flex-end; }

.social-icons a {
    color: white;
    margin-left: 15px;
    font-size: 24px;
    text-decoration: none;
}

.footer-separator {
    height: 1px;
    background-color: white;
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom p {
    margin-bottom: 0;
    flex: 1;
    text-align: left;
}



