  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
  <app-sidebar></app-sidebar>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
     <app-sidebar-navigate></app-sidebar-navigate>
      <!--  Header End -->
      <div class="container-fluid">

<h1>Liste des Forums</h1>
<table>
  <thead>
    <tr>
      <th>Nom du Forum</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forum of forums">
      <td>{{ forum.nomForum }}</td>
      <td>
        <a [routerLink]="['/post-forum', forum.id]">Voir les posts</a>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
