<div class="modal-header">
  <h5 class="modal-title">Modifier le Rendez-vous</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="editRDVForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="date_rendezVous" class="form-label">Date</label>
      <input type="date" id="date_rendezVous" formControlName="date_rendezVous" class="form-control">
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Type</label>
      <select id="type" formControlName="type" class="form-control">
        <option value="présentiel">Présentiel</option>
        <option value="en ligne">En ligne</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="sujet" class="form-label">Sujet</label>
      <input type="text" id="sujet" formControlName="sujet" class="form-control">
    </div>
    <div class="mb-3" *ngIf="editRDVForm.value.type === 'en ligne'">
      <label for="lien" class="form-label">Lien</label>
      <input type="text" id="lien" formControlName="lien" class="form-control">
    </div>
    <div class="mb-3" *ngIf="editRDVForm.value.type === 'présentiel'">
      <label for="lieu" class="form-label">Lieu</label>
      <input type="text" id="lieu" formControlName="lieu" class="form-control">
    </div>
    <div class="mb-3">
      <label for="duree" class="form-label">Durée (minutes)</label>
      <input type="number" id="duree" formControlName="duree" class="form-control">
    </div>
    <div class="mb-3">
      <label for="statut" class="form-label">Statut</label>
      <select id="statut" formControlName="statut" class="form-control">
        <option value="Confirmé">Confirmé</option>
        <option value="Reporté">Reporté</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
  </form>
</div>
