<app-navbar-mentor></app-navbar-mentor>


<div class="mentor-list mt-5">
  <h2>listes demande mentorat</h2>
  <hr class="mb-5 mt-5">
  <div *ngIf="mentorshipRequests.length > 0; else noRequests">
    <table>
      <thead>
        <tr>
          <th>Nom complet</th>
          <th>Téléphone</th>
          <th>Email</th>
          <th>Voir détail</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of mentorshipRequests">
          <td>{{ request.user.prenom }} {{ request.user.nom }}</td>
          <td>{{ request.user.numeroTelephone }}</td>
          <td>{{ request.user.email }}</td>
          <td>
            <button type="button" (click)="openDetailsModal(request.id)">Voir détail</button>
          </td>
          <td>
            <button class="delete-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <ng-template #noRequests>
    <p>Aucune demande de mentorat trouvée.</p>
  </ng-template>



  <div class="pagination">

  </div>
</div>
<!-- Modal -->
<ng-template #detailModal let-modal>
  <app-detail-demande></app-detail-demande>
</ng-template>
