<!-- user-form.component.html -->
<div *ngIf="isLoading" class="loading">Chargement...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="user-form">
  <h1>Formulaire d'Utilisateur</h1>

  <div class="form-group">
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="nom" [(ngModel)]="user.nom" required class="form-control">
  </div>

  <div class="form-group">
    <label for="prenom">Prénom:</label>
    <input type="text" id="prenom" name="prenom" [(ngModel)]="user.prenom" required class="form-control">
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="user.email" required class="form-control">
  </div>

  <div class="form-group">
    <label for="numeroTelephone">Téléphone:</label>
    <input type="text" id="numeroTelephone" name="numeroTelephone" [(ngModel)]="user.numeroTelephone" required class="form-control">
  </div>

  <div class="form-group">
    <label for="is_active">Actif:</label>
    <input type="checkbox" id="is_active" name="is_active" [(ngModel)]="user.is_active" class="form-check">
  </div>

  <button type="submit" [disabled]="!userForm.form.valid" class="submit-button">Enregistrer</button>
</form>
