<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="inscription_mentes.css">
   
</head>
<body>
    <div class="container">
        <div class="form-section">
            <form>
                <h2>Inscription</h2>
                <div class="form-group">
                    <label for="niveau">Niveau d'étude</label>
                    <input type="text" id="niveau" name="niveau" value="Masters 1" required>
                </div>
                <div class="form-group">
                    <label for="motivation">Motivation</label>
                    <textarea id="motivation" name="motivation" placeholder="Je suis . . ." required></textarea>
                </div>
                <button type="submit">S'inscrire</button>
                <p>Vous avez déjà un compte? <a href="#">Connectez-vous.</a></p>
            </form>
        </div>
        <div class="image-section"></div>
    </div>
</body>
</html>
