<p>Gestion des Utilisateurs</p>
<div>
    <h2>Gestion des Utilisateurs</h2>
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Rôles</th>
          <th>Téléphone</th>
          <th>Statut</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.nom }}</td>
          <td>{{ user.prenom }}</td>
          <td>{{ user.email }}</td>
          <td>
            <ul>
              <li *ngFor="let role of user.roles">{{ role }}</li>
            </ul>
          </td>
          <td>{{ user.numeroTelephone }}</td>
          <td>
            <label class="switch">
              <input type="checkbox" [checked]="user.is_active" (change)="toggleStatus(user)">
              <span class="slider round"></span>
            </label>
          </td>
          <td>
            <button (click)="deleteUser(user.id)">Supprimer</button>
            <a [routerLink]="['/user-form', user.id]">Modifier</a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
